<div>

  <div>

    <div ng-include="'app/dashboard/addTodoItem.html'"></div>

    <button type="button" class="btn btn-primary" ng-click="vm.open()">
      <i class="fa fa-plus"></i>
      Add
    </button>
    <button type="button" class="btn btn-danger">
      <i class="fa fa-trash-o"></i>
      Done
    </button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th><input type="CHECKBOX"></input></td>
        <th>Items</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in vm.items">
        <td><input type="CHECKBOX" ng-checked="{{item.selected}}" ng-click="vm.toggleItem(item)"></input></td>
        <td>{{item.name}}</td>
      </tr>
    </tbody>
  </table>

</div>
