<div>

  <div>

    <div ng-include="'app/additem/addTodoItem.html'"></div>

    <div>
      <div class="row">
        <div class="col-md-3"><a href="#" ng-click="vm.markAllAsComplete()">Mark all as complete</a></div>
        <div class="col-md-2"><a href="#">Show archived</a></div>
        <div class="col-md-2"><a href="#">Purge</a></div>
        <div class="col-md-2"><a href="#" ng-click="vm.reset()">Reset</a></div>
      </div>

      <div class="row" ng-repeat="item in vm.items">
        <div class="col-md-12">

            <div id="viewPanel" ng-hide="item.isEditting">
              <input type="CHECKBOX" ng-value="item.isDone" ng-checked="item.isDone" ng-click="vm.toggleItem(item)"></input>
              <a href="#" ng-click="vm.startEditItem(item)"
                          ng-class="{done: item.isDone}">
                {{item.name}}
              </a>
            </div>

            <div id="editPanel" ng-show="item.isEditting">
              <input type="CHECKBOX" ng-value="item.isDone" ng-checked="item.isDone" ng-click="vm.toggleItem(item)"></input>
              <input type="text" autofocus
                                 ng-model="item.name"
                                 ng-blur="vm.endEditItem(item)">
              </input>
              <a href="#" ng-click="vm.endEditItem(item)">Done</a>
            </div>

        </div>
      </div>
    </div>

</div>
